section{
    margin-bottom: -20px;
}

.lista_pacote{
    font-size: 20px;
    padding: 10px;
    padding-bottom: 20px;
    text-align: justify;
    color: aliceblue;
    text-shadow: 0px 1px 7px rgb(0, 0, 0);
    font-weight: 600;
    columns: 2;
    margin-left: 80px;
}

#inicio{
    padding: 10px;
    padding-bottom: 30px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 3px rgb(143, 143, 143);
    font-size: 20px;
    text-align: center;
}

#bronze{
    background-color: rgb(148, 80, 16);
}

#prata{
    background-color: rgb(209, 209, 209);
}

#ouro{
    background-color: goldenrod;
}

#diamante{
    background-color: rgb(188, 188, 255);
}

.titulo_pacote{
    display: flex;
    margin:center;
    padding-top: 20px;
    font-size: 21px;
    color: rgb(255, 247, 240);
    text-shadow: 0px 1px 7px rgb(0, 0, 0);
    font-weight: 600;
    justify-content: center;
}

#circulo_bronze, #circulo_prata, #circulo_ouro, #circulo_diamante{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: rgb(0, 0, 0) 0px 0px 15px;
    margin-left: 15px;
    margin-top: 0px;
}

#circulo_bronze{
    border: solid rgb(148, 80, 16) 10px;
}

#circulo_prata{
    border: solid rgb(209, 209, 209) 10px;
}

#circulo_ouro{
    border: solid goldenrod 10px;
}

#circulo_diamante{
    border: solid rgb(188, 188, 255) 10px;
}